/*{
    border: 2px solid red;
}*/

/* TODO - Change file location*/

body {
    background: linear-gradient(90deg, rgb(213, 124, 7), rgb(0, 0, 55) 50%, rgb(213, 124, 7));
    color: whitesmoke;
    font-family: fantasy;
    width: 500x;
}

div, 
#main-img {
    height: 150px;
    width: auto;
    display: grid;
    place-items: center;
}

h1,
ul {
    text-align: center;
    list-style-position: inside;
}

a {
    color: azure;
    font-size:  large;
}

.padme {
    margin-left: 125px;
}

.margime {
    margin-left: 33px;
}

.two {
    margin-right: 100px;
}

.list > li {
    display: flex;
    background: linear-gradient(90deg, rgb(213, 124, 7), rgb(0, 0, 55) 50%, rgb(213, 124, 7));
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    
}

