/*{
    border: 2px solid red;
}*/
body {
    background-color: rgb(38, 38, 175);
    color: whitesmoke;
    font-family: fantasy;
    width: 500x;
}

div, 
#main-img {
    height: 150px;
    width: auto;
    display: grid;
    place-items: center;
}

h1,
ul {
    text-align: center;
    list-style-position: inside;
}

a {
    color: azure;
    font-size:  large;
}

.padme {
    margin-left: 125px;
}

.margime {
    margin-left: 33px;
}

.two {
    margin-right: 100px;
}